<form action="/login" method="post">
  <label>
    Name
    <input type="text" name="username" />
  </label>
  <label>
    Password
    <input type="password" name="password" />
  </label>
  <button>Login</button>
</form>